.app-wrapper {
  display: grid;
  grid-template-areas:
  'h h h'
  'c n n';
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 80px auto;
  gap: 10px;
  background-color: rgb(50, 50, 50);
}

.header{
  display: flex;
  background-color: lightslategray;
  grid-area: h;
  align-items: center;
}

.header img{
  height: 100%;
}

.side-menu{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightslategray;
  grid-area: n;

}

.content{
  background-color: lightslategray;
  grid-area: c;
}