html,
body{
  --color-text: rgb(220, 220, 220);
  --color-stroke: rgba(220, 220, 220, 0.25);
  --color-bkg: rgb(50, 50, 50);
  --color-main: rgb(75, 75, 75);
  --color-char: rgb(0, 100, 200);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bkg);
}

.app-wrapper {
  margin-inline: auto;
  max-width: 1140px;
  padding: 15px;
  display: grid;
  grid-template-areas:
  'h h'
  'c n';
  grid-template-columns: 1fr 320px;
  grid-template-rows: 80px auto;
  gap: 10px;
  background-color: var(--color-bkg);
}

.app-wrapper__content {
  grid-area: c;
}